.sidebar {
    background-color: rgb(0, 7, 61);
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99999;
}

.top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}

.logo {
    line-height: 0;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.bars{
    cursor: pointer;
}

.logo>img{
    width: 140px;
}

.link{
    display: flex;
    align-items: center;
    color: white;
    gap: 10px;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.routes{
    margin-top: 1rem;
}

a{
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif' !important;
    font-weight: 600 !important;
    transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -webkit-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -moz-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -ms-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -o-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
}

.link:hover{
    border-right: 4px solid white;
    transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -webkit-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -moz-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -ms-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    -o-transition: 0.2s cubic-bezier(0.6,-0.28,0.735,0.045);
    background-color: rgb(45, 51, 89);
}

.active{
    border-right: 4px solid white;
    background-color: rgb(45, 51, 89);
}

.link-text{
    white-space: nowrap;
}

.main-container{
    display: flex;
}