* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.register-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px 20px 0px 20px;
}

.inside-container {
    max-width: 450px;
    width: 100%;
    background-color: white;
    background-image: url('../../Assets/Images/environment-green-watercolor-background-with-leaf-border-illustration-min.jpg');
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inside-container>form {
    padding: 40px 40px 20px 40px;
}

.inside-container>form>div {
    width: 100%;
    margin-bottom: 2rem;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    height: 15px !important;
    font-family: 'Poppins', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'Poppins', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'Poppins', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.button {
    margin-bottom: 0rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button>button {
    font-family: 'Poppins', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
}

.inside-container>img {
    width: 200px;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-tabs {
    padding-bottom: 50px;
}

.login-tabs>p {
    font-family: 'Poppins', 'sans-serif' !important;
    font-weight: 600 !important;
    font-size: 14px;
}

@media screen and (max-width: 576px) {
    .inside-container>form{
        padding: 40px 20px 20px 20px;
    }
    .inside-container>img{
        width: 180px;
    }
}